body {
  /*background: lightcyan;*/
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, SpaceGrotesk;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace,SpaceGrotesk;
}
@font-face {
  font-family: 'SpaceGrotesk';
  src: url("../public/font/SpaceGrotesk-VariableFont_wght.ttf");
}