:root{
  //card
  --card-height: 90%;
  --card-width: 45%;
  --card-container-height:60vh;
  --card-container-width:85vw;
  --card-color: rgba( 255, 255, 255, 0.9 );
  --card-color-base: rgba(200, 200, 200);
  --p-fontsize:clamp(1.2rem,2vw,2vw);
  --h1-fontsize:clamp(1.6rem, 4vw,4vw);
  --font-color: black;
  //expanded card
  --max-scale:20;
  --border-value: 20px;
}