
.expanded-card-container{

  --max-scale: 16;

  position: absolute;
  z-index: 3;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
}
.expanded-card{
  padding: 30px;
  z-index: 5;

  position: fixed;
  width: calc(100% - 120px);
  left: 30px;
  top: 30px;

  outline: red 1px solid;
  font-size: 2rem;
  transition: opacity 1s ease-out;

  .content-container{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;

    .image-container{
      width: 50%;
      outline: palegoldenrod 1px solid;
    }
    .details-container{
      width: 50%;
      outline: rebeccapurple 1px solid;
    }
  }
}
.shrink{
  animation: shrink 1.2s forwards;
  background-color: grey;
  border-radius: 50%;
}
.expand {
  background-color: grey;
  animation: grow 1.2s forwards;
  border-radius: 50% ;
}

@keyframes shrink {
  from{
    transform: scale(var(--max-scale));
  }
  to{
    transform: scale(0);
  }
}
@keyframes grow {
  from{
    transform: scale(0);
  }
  to{
    transform: scale(var(--max-scale));
  }
}